// main#article
//   article
//     h1
//       text-align center
//       margin-top 0
//     .video-container
//       overflow unset
//       margin 25px auto
//       iframe
//         display block
//         border 1px solid #ccc
//         box-shadow 0 1px 3px rgba(0,0,0,.15)
//     #article-footer
//       margin 25px 0
//       padding 25px
//       border 1px solid #eee
//       background-color #f7f7f7
//       #article-categories
//         h6
//           margin-top 0