// ---- RESETS ---- //
#one_page_searchable_customer_search
  // Materialize
  .select-dropdown
    display none !important
  // Select2
  [class*="select"]
    outline none

.woocommerce-SavedPaymentMethods-saveNew
  display block !important


// ---- CONTAINERS ---- //
#page .container article
  .opc-product-search
    .select2-container
      height auto
  .select2-container
    margin 15px 0
    .select2-selection
      border-radius 0
      &:not(.select2-selection--multiple) // Searchable input
        height 100%
        border 0
        border-bottom 1px solid #777
      &.select2-selection--multiple       // Searchable textarea
        padding 7px 7px 0
        border 2px solid #e5e5e5
        input.select2-search__field       // Invisible search input
          margin 0
          padding-left 8px
        li.select2-selection__choice      // Product tags
          padding 3px 10px
          border 2px solid #d5d5d5
          border-radius 2px
          background #f2f2f2
          .select2-selection__choice__remove
            margin-right 8px
            transform scale(1.25)


// ---- PRODUCT TABLE ---- //
#page .container article
  #opc_table_layout
    tr.one_page_product_table_item
      td
        padding 0 5px
    td
      &.product-remove
        a
          font-size 1.75rem
      &.product-thumbnail
        width 100px !important
        img
          height 75px
      input
        text-align center


// ---- SEARCH FIELDS ---- //
.select2-container--default
  .select2-dropdown
    padding 0 10px 15px
    border 1px solid #ddd
    border-radius 0px
    background-color white
    box-shadow 0 1px 3px rgba(0,0,0,.15), 0 5px 10px rgba(0,0,0,.15)
  .select2-search--dropdown
    input.select2-search__field
      border 0
      border-bottom 1px solid #9e9e9e
  .select2-search-results
    ul,
    li
      outline 0


// ---- VERIFY BANK ACCOUNT ---- //
.woocommerce
  form:not(.woocommerce-checkout)
    #order_review
      table.shop_table,
      .wc_payment_method p:first-of-type
        display none


form[name="one_page_load_order"], // Quick Cart
form[name="checkout"]             // Checkout
  li.wc_payment_method
    margin-top 25px
  #stripe-payment-data
    ul.wc-saved-payment-methods
      padding-left 30px !important


// // ---- CUSTOMER CHECKOUT ---- //
// form[name="checkout"]
//   table.woocommerce-checkout-review-order-table
//     tfoot
//       tr
//         &:first-child
//           th, td
//             padding-top 15px
//         th, td
//           padding 8px 5px
//         th
//           text-align right

//   #order_review
//     .quote
//       font-size .95rem

//   #payment
//     fieldset
//       border 2px solid #c1eeb9
//       background-color #f0ffed

//   #stripe-payment-data
//     > p
//       font-size .95rem
//       line-height 1.6
//     fieldset
//       p
//         label
//           display block
//         input
//           width 100% !important

// @media (min-width 736px)
//   form[name="checkout"]
//     #payment
//       fieldset
//         margin 15px 35px
//         padding 15px 25px
//         p
//           &.form-row-first,
//           &.form-row-last
//             display inline-block
//             width 50%
//             padding 5px 10px
//     #stripe-payment-data
//       > p
//         margin 15px 35px


// @media (max-width 735px)
//   form[name="checkout"]
//     #payment
//       fieldset
//         margin 0
//         padding 10px 15px
//         p
//           &.form-row-first,
//           &.form-row-last
//             width 100%
//             margin 0
//             padding 0
//     #stripe-payment-data
//       > p
//         margin 10px 0
//         padding 0

// @media (max-width 414px)
//   form[name="checkout"]
//     #payment
//       img
//         display none



// // ---- ADMIN CHECKOUT ---- //
// // ---- PRODUCTS ---- //
// // Search Dropdown
// .woocommerce-checkout.customize-support
//   ul#select2-product_ids-0z-results
//     border 1px solid #e5e5e5
//     background white
//     li.select2-results__option
//       padding 10px 20px
//       border-top 1px solid #f5f5f5
//       color #3173A5
//       cursor pointer
//       &:first-child
//         border-top 0
//       &:hover
//         background-color #f7f7f7

// // Product Table
// .woocommerce-checkout.customize-support
//   table#opc_table_layout
//     td
//       padding 0
//       width auto
  
//       &.product-remove
//         width 25px !important
//         font-size 2rem
//       &.product-thumbnail
//         width 120px !important
//         padding-left 5px
//         img.attachment-shop_thumbnail.size-shop_thumbnail.wp-post-image
//           height 100px
//           width 100px
//       &.product-name
//         display flex
//         align-items center
//         height 100px
//       &.product-price
//         input.small.opc_price
//           text-align center
//           max-width 75px
//       &.product-quantity
//         text-align center
//         width 75px
//         label
//           display none
//         input
//           text-align center
//           max-width 75px


// @media (max-width 666px)
//   table#opc_table_layout
//     tr.cart_item
//       display flex
//       flex-wrap wrap
//       td
//         &.product-thumbnail
//           display none
//         &.product-name
//           width 75% !important
//         &.product-price
//           width calc(100% - 75px)


// // ---- THANK YOU ---- //
// .woocommerce-order
//   // Thank You Message
//   .quote
//     ul
//       li
//         margin 8px 16px
//         font-size .9rem
//         b
//           text-transform uppercase

//   // Section Headings
//   section
//     h2
//       margin 40px 0 15px

//   // Details Table
//   .woocommerce-order-details
//     table
//       thead
//         th
//           padding 5px
//           text-transform uppercase
//       tbody
//         th, td
//           padding 15px
//           border 2px solid #eee
//       tfoot
//         tr
//           th, td
//             padding 5px
//             border 0
//           th
//             text-align right
//             padding-left 15px
//             text-transform uppercase
//           &:first-child
//             th, td
//               padding-top 15px
//           &:last-child
//             th, td
//               padding-bottom 15px

//   .order-again
//     display none

//   .woocommerce-customer-details
//     display none

//   p.opc_thankyou_page_additions
//     border 2px solid #d2e1ec !important
//     background-color #edf4f9 !important
//     font-size .95rem !important
//     text-transform capitalize

// @media (min-width 568px)
//   .woocommerce-order
//     p.opc_thankyou_page_additions
//       text-align center