#post
  .chip
    border 1px solid #000
    background-color transparent
    font-size .75rem !important
    font-weight 700
    color #000
    text-transform uppercase
    &:hover
      border-color $blue
      background-color $blue
      color white