footer
  margin-top 50px

// Links
footer
  .links
    h6
      font-size .8rem
      color #aaa
      text-transform uppercase
    p
      font-size .9rem
      font-weight 500
      margin 20px 0

@media (max-width 600px)
  footer
    .links
      .s12
        padding 1rem 0
        text-align center


// Disclaimer
footer
  .disclaimer
    color #999


// Copyright
footer.page-footer
  .footer-copyright
    font-size 13px
    font-weight normal
    .container
      padding-top 25px
      border-top 1px solid #eee
      .right
        a
          margin 0 8px
          &:last-of-type
            margin-right 0

@media (max-width 600px)
  footer
    .footer-copyright
      .container
        text-align center
        .right
          margin-top 25px