#home
  padding 0
  .rls-introduction
    padding 60px 0
    h1
      margin 0 auto 25px


// ---- BUTTONS ---- // 
#home
  .buttons
    text-align center
    margin 25px auto 0
    .btn-flat
      height 44px
      margin 4px 0
      padding 4px 2rem
      font-size .9rem
      font-weight 900

@media (min-width 601px)
  #home .buttons
    .btn-flat
      font-size 1rem
@media (min-width 375px) and (max-width 600px)
  #home .buttons
    .btn-flat
      width 246px
      font-size .9rem
@media (max-width 374px)
  #home .buttons
    .btn-flat
      width 230px
      font-size .85rem