// ---- DESCRIPTION ---- //
#product .container,
#article article
  ul
    padding-left 40px
    list-style disc
    li
      list-style disc
  ul, ol
    li
      margin 12px 0
      padding-left 8px