// .admin-bar
//   main
//     margin-top 48px

@media (min-width 783px) and (max-width 992px)
  .admin-bar
    main
      margin-top -32px
@media (max-width 782px)
  .admin-bar
    main
      margin-top -45px