// .notice
//   text-align center
//   padding 15px 25px
//   *
//     max-width 800px
//     margin 0 auto
//   form
//     max-width 600px
//   a
//     display table
//     margin 0 auto 10px


// // Colors
// .notice
//   border-bottom 2px solid palegoldenrod
//   background lightgoldenrodyellow
//   &.success
//     border-color #c1eeb9
//     background-color #f0ffed
//     color #9dd293
//   &.error
//     border-color #f7dede
//     background-color #f9f2ed
//     color #e3aaa3


// // Accounts Area
// .my-account
//   .notice
//     // &:first-child
//     //   margin-top 44px

//     &.consultation
//       #schedule-consultation,
//       #dismiss-consultation
//         p
//           margin 0 auto 5px
//           font-size .85rem
//           color #888

//         .button-group
//           display flex
//           justify-content center
//           button
//             margin 0 2.5px

//     a
//       margin 0 auto