// .sidebar-widget
//   h3
//     margin 50px 0 10px
//     font-size 1rem
//     text-transform uppercase

// .widget_categories
//   ul
//     margin 0
//     .cat-item
//       a
//         color #000
//         text-transform uppercase
//         &:hover
//           text-decoration underline

// .widget_tag_cloud
//   .tagcloud
//     a
//       border 1px solid #000
//       background-color transparent
//       font-size .75rem !important
//       font-weight 700
//       color #000
//       text-transform uppercase
//       &:hover
//         border-color $blue
//         background-color $blue
//         color white