// ---- VARIABLES ---- //
// SIZES
$button-small: 32px !default;
$button-height: 36px !default;
$button-large: 40px !default;
$button-small-padding: 1.5rem !default;
$button-small-mix-padding: calc(1.5rem + 2px) !default;
$button-padding: 0 2rem !default;
$button-mix-padding: calc(2rem + 2px) !default;
$button-large-padding: 2.5rem !default;
$button-large-mix-padding: calc(2.5rem + 2px) !default;
// STYLES
// Default
$button-font-weight: bold;
$button-background-focus: lighten($secondary-color, 4%) !default;
$button-icon-font-size: 1.3rem !default;
$button-padding: 0 2rem !default;
$button-radius: 2px !default;
// Raised
$button-raised-background: $primary-color-light !default;
$button-raised-background-hover: $link-color !default;
$button-raised-color: #fff !default;
// Large
$button-large-icon-font-size: 1.6rem !default;
$button-large-height: $button-height * 1.5 !default;
// Flat
$button-flat-color: #343434 !default;
// Floating
$button-floating-background: $primary-color-light !default;
$button-floating-background-hover: $link-color !default;
$button-floating-color: #fff !default;
$button-floating-size: 40px !default;
$button-floating-large-size: 56px !default;
$button-floating-radius: 50% !default;
// Disabled
$button-disabled-border: #C5C5C5 !default;
$button-disabled-background: #DFDFDF !default;
$button-disabled-color: #9F9F9F !default;


// ---- BUTTON GROUPS ---- //
.button-group {
    flex-basis: 100%;
    max-width: $container-width;
    margin: 35px auto 0;
    &:not(.tight) {
        .button {
            @media screen and (min-width: $small-screen-up) {
                margin: 3px 2px;
            }
            @media screen and (max-width: $medium-screen) {
                width: 80%;
                margin: 3px 0;
            }
           &:first-child {
                margin-left: 0px;
            }
            &:last-child {
                margin-right: 0px;
            }
        }
    }
}


// ---- DEFAULTS ---- //
.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 2px;
    outline: 0;
    font-weight: $button-font-weight;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .2s ease-out;
    cursor: pointer;
    // Gets rid of tap active state
    -webkit-tap-highlight-color: transparent;
    // &:hover {
    //     border-color: $link-color;
    //     background: $link-color;
    //     color: white;
    // }
    &:focus {
        border-color: darken($button-raised-background, 10%);
        background: darken($button-raised-background, 10%);
        color: white;
    }

    // Overrides
    &.light {
        font-weight: $button-font-weight;
    }
}


// ---- STYLES ---- //
.button {
    // Raised Buttons
    &.raised {
        @extend .z-depth-1;
        &:hover {
            @extend .z-depth-1-half;
        }
    }

    // Floating Action Button (FAB)
    &.floating {
        z-index: 1;
        position: relative;
        height: $button-floating-size;
        width: $button-floating-size;
        padding: 0;
        border-radius: $button-floating-radius;
        // background: $button-floating-background;
        @extend .z-depth-1;
        color: $button-floating-color;
        line-height: $button-floating-size;
        transition: .3s;
        overflow: hidden;
        &:before {
            border-radius: 0;
        }
        &:hover {
            // background: $button-floating-background-hover;
            @extend .z-depth-2;
        }
        &.halfway {
            position: absolute;
            buttom: -$button-floating-size / 2;
            right: 24px;
            &.left {
                left: 24px;
                right: auto;
            }
        }
        &.large {
            height: $button-floating-large-size;
            width: $button-floating-large-size;
            &.halfway {
                bottom: -$button-floating-large-size / 2;
            }
            i {
                line-height: $button-floating-large-size;
            }
        }
        i {
            display: inline-block;
            text-align: center;
            width: inherit;
            font-size: $button-large-icon-font-size;
            // color: $button-floating-color;
            // line-height: $button-floating-size;
        }
    }

    // Rounded Buttons
    &.rounded {
        border-radius: 50px;
    }

    // Disabld Buttons
    &.disabled {
        pointer-events: none;
        border-color: $button-disabled-border !important;
        background: $button-disabled-background !important;
        box-shadow: none;
        color: $button-disabled-color !important;
        cursor: default;
        &:hover {
            border-color: $button-disabled-border !important;
            background: $button-disabled-background !important;
            color: $button-disabled-color !important;
        }
        &.ghost {
            background-color: transparent !important;
        }
    }
}


// ---- COLORS ---- //
$button_colors: ("pink", "red", "purple", "blue", "teal", "green", "yellow", "orange", "tan", "brown", "steel");
@each $button_color in $button_colors {
    .button:hover {
        &.#{$button_color} {
            border-color: darken(color($button_color, "dark"), 10%);
            background-color: darken(color($button_color, "dark"), 5%);
            &.dark {
                border-color: darken(color($button_color, "base"), 5%);
                background-color: color($button_color, "base");
            }
        }
    }
}
// Font Overrides
// .light.red.button {
//     color: white;
// }


// ---- SIZES ---- //


.button {
    height: $button-height;
    padding: $button-padding;
    font-size: .9rem;
    line-height: $button-height - 2;
    i {
        font-size: 1.15rem;
        line-height: inherit;
        vertical-align: middle;
        vertical-align: -webkit-baseline-middle;
    }
    &.gradient:not(:hover):not(.ghost),
    &.mix:not(:hover):not(.ghost) {
        padding-left: $button-mix-padding;
        padding-right: $button-mix-padding;
    }

    // Small Buttons
    &.small {
        height: $button-small;
        padding: 0 $button-small-padding;
        font-size: .8rem;
        line-height: $button-small - 2;
        i {
            font-size: 1.05rem;
            line-height: inherit;
        }
        &.gradient:not(:hover):not(.ghost),
        &.mix:not(:hover):not(.ghost) {
            padding-left: $button-small-mix-padding;
            padding-right: $button-small-mix-padding;
        }
    }

    // Large Buttons
    &.large {
        height: $button-large;
        padding: 0 $button-large-padding;
        font-size: 1rem;
        line-height: $button-large - 2;
        i {
            font-size: 1.25rem;
            line-height: inherit;
        }
        &.gradient:not(:hover):not(.ghost),
        &.mix:not(:hover):not(.ghost) {
            padding-left: $button-large-mix-padding;
            padding-right: $button-large-mix-padding;
        }
    }
}

// See colors.scss for the rest of this style
.button,
.small.button,
.large.button {
    &.gradient,
    &.mix {
        &:not(.ghost) { // Ghost styles override mix / gradient styles
        padding-top: 2px;
        padding-bottom: 2px;
        border: 0;
        }
        &:hover {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}





// Fixed Action Button
.fixed-action-btn {
    &.active {
        ul {
            visibility: visible;
        }
    }

    &.horizontal {
        padding: 0 0 0 15px;

        ul {
            text-align: right;
            right: 64px;
            top: 50%;
            transform: translateY(-50%);
            height: 100%;
            left: auto;
            width: 500px; /*width 100% only goes to width of button container */

            li {
                display: inline-block;
                margin: 15px 15px 0 0;
            }
        }
    }

    &.toolbar {
        &.active {
            & > a i {
                opacity: 0;
            }
        }

        padding: 0;
        height: $button-floating-large-size;

        ul {
            display: flex;
            top: 0;
            bottom: 0;
            z-index: 1;

            li {
                flex: 1;
                display: inline-block;
                margin: 0;
                height: 100%;
                transition: none;

                a {
                    display: block;
                    overflow: hidden;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    background: transparent;
                    box-shadow: none;
                    color: #fff;
                    line-height: $button-floating-large-size;
                    z-index: 1;

                    i {
                        line-height: inherit;
                    }
                }
            }
        }
    }

    position: fixed;
    right: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 997;

    ul {
        left: 0;
        right: 0;
        text-align: center;
        position: absolute;
        bottom: 64px;
        margin: 0;
        visibility: hidden;

        li {
            margin-bottom: 15px;
        }

        a.btn-floating {
            opacity: 0;
        }
    }

    .fab-backdrop {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: $button-floating-size;
        height: $button-floating-size;
        background: $button-floating-background;
        border-radius: $button-floating-radius;
        transform: scale(0);
    }
}

// Flat button
// .btn-flat,
// .button {
//     box-shadow: none;
//     cursor: pointer;
//     &:focus,
//     &:hover {
//         box-shadow: none;
//     }

//     &:focus {
//         // background: rgba(0,0,0,.1);
//     }

//     &.disabled {
//         background: transparent !important;
//         color: $button-disabled-color !important;
//         cursor: default;
//     }
// }

// Large button
.btn-large {
    @extend .btn;
    height: $button-large-height;
    line-height: $button-large-height;

    i {
        font-size: $button-large-icon-font-size;
    }
}

// Block button
.btn-block {
    display: block;
}
