.hero-container,
.parallax-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    position: relative;
    overflow: hidden;
    &:not([class^="vh-"]) {
        height: 500px;
    } // ---- CONTENT ---- //
    .hero,
    .parallax {
        z-index: -1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-wrap: wrap;
    }

    // Call to Action Grouping
    .cta-group {
        // display: flex;
        // flex-wrap: wrap;
        // align-items: center;
        // align-content: center;
        // justify-content: center;
        margin: 50px;
        padding: 25px;
        border-radius: 2px;
        border: none;
        @media screen and (min-width: 800px) {
            &.floating,
            &.tall {
                max-width: 50%;
            }
        }
        &.row {
            margin: 0 auto;
        }
        &.full {
            height: 100%;
            width: 100%;
            margin: 0;
        }
        &.tall {
            height: 100%;
            margin: 0;
        }
        &.light {
            border: 2px solid rgba(255, 255, 255, 0.25);
            background-color: rgba(255, 255, 255, 0.5);
        }
        &.dark {
            border: 2px solid rgba(0, 0, 0, 0.1);
            background-color: rgba(0, 0, 0, 0.5);
        }

        // Titles and Buttons (preformatted)
        // .title-group,
        // .button-group {
        //     flex-basis: 100%;
        //     text-align: center;
        //     margin: 15px auto;
        // } 
    }


    // ---- MEDIA ---- //
    // Background Images
    .hero {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    } // Images
    .hero,
    .parallax {
        img {
            display: none;
            position: absolute;
            left: 50%;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
        }
    }

    // Parallax
    .parallax {
        img {
            transform: translate3d(0, 0, 0);
            transform: translateX(-50%);
        }
        .mask {
            z-index: 1;
        }
    }

    // Video
    .video {
        iframe {
            width: auto;
            min-width: 800px;
            height: 100%;
        }
        video {
            width: 100%    !important;
            height: auto   !important;
            object-fit: fill;
        }
        .video-container iframe {
            height: 74%;
            width: 100%;
        }
        &.modal {
            overflow-y: hidden;
        }
    }

  
}
