@font-face {
    font-family: "Lato";
    src: local(Lato Light),
         url("/Lato-Light.ttf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: "Lato";
    src: local(Lato Italic), 
         url("/Lato-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: local(Lato Regular), 
         url("/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: local(Lato Bold),
         url("/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Lato";
    src: local(Lato Bolder),
         url("/Lato-Black.ttf") format("truetype");
    font-weight: 800;
}
