ol {
    font-size: $p-fontsize;
}

ul {
    &:not(.browser-default) {
        padding-left: 0;
        font-size: $p-fontsize;
        list-style-type: none;
        & > li {
            list-style-type: none;
        }
    }

    &.staggered-list {
        li {
            opacity: 0;
        }
    }
}
