/**
https://gist.github.com/juanpasolano/0dc2cecfea3c9e851227

Many times a component has different spacings around it depending on 
where it is located. Spacers help you add paddings and margins of 
different sizes conveniently.

-You get access to classes like mt-2 which stands to margin-top: 20px, 
so same goes for something like pb-3 padding-bottom: 30px. 
-There is also mv-2 which stands for vertical margin or margin-top: 
20px; margin-bottom:20px; and ph-3 would be padding horizontal 30px;

This classes use the convention type_position_negative_number_target
**/ 

@mixin spacer-loop($sufix: "") {
    @for $i from 0 through 20 {
        .spacer-#{$i}#{$sufix} {
            width: 100%;
            clear: both;
            height: 10px*$i;
        }

        // Margin
        .m-#{$i}#{$sufix} {
            margin: 10px*$i !important;
        }
        .mv-#{$i}#{$sufix} {
            margin-top: 10px*$i !important;
            margin-bottom: 10px*$i !important;
        }
        .mh-#{$i}#{$sufix} {
            margin-left: 10px*$i !important;
            margin-right: 10px*$i !important;
        }
        .mt-#{$i}#{$sufix} {
            margin-top: 10px*$i !important;
        }
        .mb-#{$i}#{$sufix} {
            margin-bottom: 10px*$i !important;
        }
        .mr-#{$i}#{$sufix} {
            margin-right: 10px*$i !important;
        }
        .ml-#{$i}#{$sufix} {
            margin-left: 10px*$i !important;
        }

        // Padding
        .p-#{$i}#{$sufix} {
            padding: 10px*$i !important;
        }
        .pv-#{$i}#{$sufix} {
            padding-top: 10px*$i !important;
            padding-bottom: 10px*$i !important;
        }
        .ph-#{$i}#{$sufix} {
            padding-left: 10px*$i !important;
            padding-right: 10px*$i !important;
        }
        .pt-#{$i}#{$sufix} {
            padding-top: 10px*$i !important;
        }
        .pb-#{$i}#{$sufix} {
            padding-bottom: 10px*$i !important;
        }
        .pr-#{$i}#{$sufix} {
            padding-right: 10px*$i !important;
        }
        .pl-#{$i}#{$sufix} {
            padding-left: 10px*$i !important;
        }

        // Negative Margin
        .mn-#{$i}#{$sufix} {
            margin: -10px*$i !important;
        }
        .mvn-#{$i}#{$sufix} {
            margin-top: -10px*$i !important;
            margin-bottom: -10px*$i !important;
        }
        .mhn-#{$i}#{$sufix} {
            margin-left: -10px*$i !important;
            margin-right: -10px*$i !important;
        }
        .mtn-#{$i}#{$sufix} {
            margin-top: -10px*$i !important;
        }
        .mbn-#{$i}#{$sufix} {
            margin-bottom: -10px*$i !important;
        }
        .mrn-#{$i}#{$sufix} {
            margin-right: -10px*$i !important;
        }
        .mln-#{$i}#{$sufix} {
            margin-left: -10px*$i !important;
        }
    }
}

@include spacer-loop(); 
/* Small devices (mobile, 768px and low) */
@media (max-width: 768px) {
    @include spacer-loop("-xs"); 
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    @include spacer-loop("-sm"); 
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    @include spacer-loop("-md"); 
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    @include spacer-loop("-lg"); 
}
